extends layout


block content
    html(lang="en")
        head
            meta(charset="utf-8")
            script(src="//d3js.org/d3.v3.min.js")
            script(src="/js/d3stuff.js")
            link(rel="stylesheet" type="text/css" href="stylesheets/mystyle.css")
        body.