extends layout

block content

html(lang="en")
    head
        meta charset="utf-8"
        title = D3 Test
        script(type = "text/javascript" src="node_modules/d3.js")
        link(rel="stylesheet" type="text/css" href="mystyle.css")
    body
        script(type = "text/javascript" src="/js/d3stuff.js")
