extends layout

block content
    html(lang="en")
        head
            meta(charset="utf-8")
            title = D3 Test
            script(type = "text/javascript" src="node_modules/d3.js")
            script(src="build/js/d3stuff.js")
            link(rel="stylesheet" type="text/css" href="stylesheets/mystyle.css")
        body