extends layout

block content

html(lang="en")
    head
        meta charset="utf-8"
        title = D3 Test
        script(type = "text/javascript" src="node_modules/d3.js")
        link(rel="stylesheet" type="text/css" href="mystyle.css")
    body
        script(
        var w = 500;
        var h = 250;
        var barPadding = 1;
        
        var dataset = [ ];
            for (var i = 0; i < 25; i++) {
                var newNumber = Math.round(Math.random() * 20) + 5;
                dataset.push(newNumber);
            }
            
            
            d3.select("body").selectAll("div")
                .data(dataset)
                .enter()
                .append("div")
                .attr("class", "bar")
                .style("height", function(d) {
                    var barHeight = d * 5;
                    return barHeight + "px";
            });
            )

