extends layout

block content
  html(lang="en")
    head
      title=Login
      script(type="text/javascript" src="/js/script.js")
    body
      img(src="/images/demoLab_logo.png")
      p
      form(name="login")
        span.label Username
        input(type="text" name="user")
        p
        span.label Password
        input(type="password" name="pass")
        p
        input(type="button" onclick="check(this.form)" value="Login")
        input(type="reset" value="Cancel")
