extends layout

block content
  html(lang="en")
    body
      img(src="/build/images/demoLab_logo.png")
      p
      form(name="login")
        span.user Username
        input(type="text" name="user")
        p
        span.pass Password
        input(type="password" name="pass")
        p
        input(class= "ok" type="button" onclick="check(this.form)" value="Login")
        input(class= "cancel" type="reset" value="Cancel")
