extends layout

// By no means finished product, just a proof of concept login screen
   and not properly using jade here.
   For the future, make sure window.open() goes to next html collection
   page, not google.com, that's just a place holder
   - Ryan

block content
  html(lang="en")
    head
      title=Login
      script(type="text/javascript" src="/js/script.js")
    body
      img(src="/images/demoLab_logo.png")
      p
      form(name="login")
        span.label Username
        input(type="text" name="user")
        p
        span.label Password
        input(type="password" name="pass")
        p
        input(type="button" onclick="check(this.form)" value="Login")
        input(type="reset" value="Cancel")
