extends layout

// By no means finished product, just a proof of concept login screen
   and not properly using jade here.
   For the future, make sure window.open() goes to next html collection
   page, not google.com, that's just a place holder
   - Ryan

block content
  html.
    <head>
      <title> Login page </title>
      <script type="text/javascript" src="/javascripts/script.js"> </script>
    </head>
    <body>
    <img src="/images/demoLab_logo.png" alt="Democracy Lab">
    <p>
      <form name="login">
        Username<input type="text" name="user"/>
        <p>
        Password<input type="password" name="pass"/>
        <p>
        <input type="button" onclick="check(this.form)" value="Login"/>
        <input type="reset" value="Cancel"/>
      </form>
    </body>
