.btn.btn-primary.btn-block {
    font: 25px bold sans-serif;
    box-shadow: 3px 3px 3px #666;
    border-color: black;
}

.issue.row {
    margin-top: 20px;
}

.issue.row.add {
    padding: 10px;
    float: left;
    width: 350px;
}
.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
