<div ng-controller = "rank-controller as rank">
    <div ng-controller = "explore-controller as exp">
        <div ng-controller = "sankey-controller as sankey">
        <uib-tabset justified="true" ng-show="row.voting">
            <uib-tab heading="{{content}}" ng-mouseup="rank.currentSet = exp.currentSet = $index; issue.showRank == true ? rank.showContent() : exp.showContent(rowIdx)" ng-repeat="content in rank.title">
                <div  ui-sortable="rank.sortableOptions" ng-show="issue.showRank" ng-repeat="list in rank.getData($index)" ng-model="list" class="well sort"
                      style="float:left; min-height: 40px;">
                    <div id="item-list-src" ng-repeat="item in list">{{item.name}}</div>
                </div>
                <div ng-show="issue.showRank" style="overflow: hidden">
                    <div ng-repeat="list in rank.tgtData">
                        {{rank.lik[$index-2]}}
                        <div ui-sortable="rank.sortableOptions" ng-model="list" class="well sort">
                            <div id="item-list-tgt" ng-repeat="item in list">{{item.name}}</div>
                        </div>
                    </div>
                </div>

            </uib-tab>
            <button ng-show="issue.showRank" id="submitButton" ng-click="rank.submit(); issue.showRank = false; exp.showContent(rowIdx);" type='button' class='btn btn-success' disabled>{{ rank.buttonTitle }}</button>
            <div id="chart-{{rowIdx}}"ng-show="!issue.showRank"></div>
            <div id="chart-sankey"ng-show="!issue.showRank"></div>
        </uib-tabset>
        </div>
    </div>
</div>
