<div ng-controller = "rank-controller as rank" ng-init="showRank = true;">
    <div ng-controller = "explore-controller as exp">
        <uib-tabset justified="true" ng-show="row.voting">
            <uib-tab heading="{{content}}" ng-click="rank.currentSet = exp.currentSet = $index; showRank == true ? rank.showContent() : exp.showContent()" ng-repeat="content in rank.title">
                <div ui-sortable="rank.sortableOptions" ng-show="showRank" ng-repeat="list in rank.getData($index)" ng-model="list" class="sort"
                     style="border: 1px solid black; float:left; min-height: 40px;">
                    <div id="item-list-src" ng-repeat="item in list">{{item.name}}</div>
                </div>
                <div ng-show="showRank" style="float:left;">
                    <div ng-repeat="list in rank.tgtData">
                        {{rank.lik[$index-2]}}
                        <div ui-sortable="rank.sortableOptions" ng-model="list" class="sort"
                             style="border: 1px solid black; min-height: 40px;">
                            <div id="item-list-tgt" ng-repeat="item in list">{{item.name}}</div>
                        </div>
                    </div>
                </div>

            </uib-tab>
            <button ng-show="showRank" id="submitButton" ng-click="rank.submit(); showRank = false; exp.showContent()" type='button' class='btn btn-success' disabled>{{ rank.buttonTitle }}</button>
            <bars ng-show="!showRank"></bars>
        </uib-tabset>
    </div>
</div>
