<div ng-controller = "issue-controller as issue" ng-init="issue.getIssues()">
    <div class="row">
      <div class=col-sm-12>
          <h2>{{ issue.title }}</h2>
          <p></p>
          <br>
      </div>
    </div>

    <!-- Added an array to the issue-controller for dynamically pulling from database-->
    <div id="{{ 'object-' + $index }}" class="issue row" ng-repeat="row in issue.issuerows">
        <div class="issues">
            <button ng-click="issue.checkForRank(); row.voting = !row.voting" type="button" class="btn btn-primary btn-block">{{row.name}}</button>
        </div>
        <h5>{{row.description}}</h5>
        <sort></sort>
    </div>

    <!-- Adding issues -->
    <div class="issue row add">
        <a href="" ng-click="issue.showform= !issue.showform"> Don't see an issue for you? </a>
        <p></p>
        <div class="formWrapper" ng-init = "issue.showform = false" ng-show="issue.showform">
            <div class="form-group">
                <label style="font-size: 12px">Title</label>
                <input type="text" ng-model="issue.new_title" class="form-control">
            </div>
            <div class="form-group">
                <label style="font-size: 12px">Description</label>
                <input type="text" ng-model="issue.new_description" class="form-control">
            </div>
            <fieldset  data-ng-repeat="choice in issue.choices">
                <select>
                    <option>Values</option>
                    <option>Objective</option>
                    <option>Policies</option>
                </select>
                <input type="text" ng-model="choice.name" name="" placeholder="Enter Value">
                <button class="remove" ng-show="$last" ng-click="issue.removeChoice()">-</button>
            </fieldset>
            <button class="btn btn-info" ng-click="issue.addNewChoice()" style="margin: 0 auto">Add fields</button>
            <p></p>
            <button ng-click="issue.submitIssue()" type='button' class='btn btn-success'>Add New Issue</button>
        </div>
    </div>
</div>