<div ng-controller = "issue-controller as issue" ng-init="issue.getIssues()">
    <div class="row">
      <div class=col-sm-12>
          <h2>{{ issue.title }}</h2>
          <p></p>
          <br>
      </div>
    </div>

    <!-- Added an array to the issue-controller for dynamically pulling from database-->
    <div class="issue row" ng-repeat="(rowIdx, row) in issue.issuerows">
        <div class="issue">
            <button ng-click="issue.checkForRank(); row.voting = !row.voting" type="button" class="btn btn-primary btn-block">{{row.name}}</button>
        </div>
        <h5>{{row.description}}</h5>
        <sort></sort>
    </div>

    <!-- Adding issues -->
    <div class="issue row add">
        <a href="" ng-click="issue.showform= !issue.showform"> Don't see an issue for you? </a>
        <p></p>
        <form role="form" name="createIssueForm">
            <div id="createIssue" class="formWrapper" ng-init = "issue.showform = false" ng-show="issue.showform">
                <div class="form-group">
                    <label for="issueTitle">Title</label>
                    <input id="issueTitle" ng-model="issue.new_title" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="issueDesc">Description</label>
                    <input id="issueDesc" ng-model="issue.new_desc" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="issueVal">Values</label>
                    <input id="issueVal" ng-model="issue.new_val" type="text" class="form-control" required placeholder="Faith, Reason, Life, etc.">
                </div>
                <div class="form-group">
                    <label for="issueObj">Objectives</label>
                    <input id="issueObj" ng-model="issue.new_obj" type="text" class="form-control" required placeholder="Abolish, Free, Maintain, etc.">
                </div>
                <div class="form-group">
                    <label for="issuePol">Policies</label>
                    <input id="issuePol" ng-model="issue.new_pol" type="text" class="form-control" required placeholder="Constitution, Law Restrictions, etc.">
                </div>
                <p></p>
                <button ng-disabled="createIssueForm.$invalid" ng-click="issue.showform= !issue.showform" id="submitButton" type='button' class='btn btn-success'>Add New Issue</button>
            </div>
        </form>
    </div>
</div>

<!-- Inline script is not good practice, but there was an issue posting new issues to the db using angular http.post
     So this is what we got for now -->
<script>
    var base_url = "http://capdev.meyersj.com:9000";
    var endpoint = base_url + "/api/issue";
    $(document).ready(function() {

        $("#submitButton").click(function () {
            var issue_data = {
                issue_name: $("#issueTitle").val(),
                desc: $("#issueDesc").val(),
                values: $("#issueVal").val().split(","),
                objectives: $("#issueObj").val().split(","),
                policies: $("#issuePol").val().split(",")
            };
            if(issue_data['issue_name'] == "" || issue_data['desc'] == "" || issue_data['values'] == "" ||
                    issue_data['objectives'] == "" || issue_data['policies'] == "") {
                //Shouldn't happen if disable attribute stays strong
            } else {
                $.post(endpoint, issue_data, function(data) {
                    console.log(data);
                });
            }
            $("#createIssue").find('input:text').val(null);
            $(this).attr('disabled', 'disabled');
        });
    });
</script>

