<div ng-controller="main-controller as login">

  <!-- TODO Implement Monday -->
  <!--<div class="row" style="margin-top:20px">-->
    <!--<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">-->
      <!--<form role="form">-->
        <!--<fieldset>-->
          <!--<h2>Please Sign In</h2>-->
          <!--<hr class="colorgraph">-->
          <!--<div class="form-group">-->
            <!--<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">-->
          <!--</div>-->
				<!--<span class="button-checkbox">-->
					<!--<button type="button" class="btn" data-color="info">Remember Me</button>-->
                    <!--<input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">-->
					<!--<a href="" class="btn btn-link pull-right">Forgot Password?</a>-->
				<!--</span>-->
          <!--<hr class="colorgraph">-->
          <!--<div class="row">-->
            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
              <!--<input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">-->
            <!--</div>-->
            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
              <!--<a href="" class="btn btn-lg btn-primary btn-block">Register</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class=col-sm-4>
      <div ng-show="login.reject">
        <p style="color: #ff0000">{{login.unsuccessful}}</p>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" ng-model="login.username" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="login.password" class="form-control">
      </div>
      <div class="btn-group">
        <button type="button" ng-click="login.getAccess()" class="btn btn-primary">
          Login
        </button>
      </div>
      <button ng-click="login.createAccount()" class="btn btn-primary">Create Account</button>
    </div>
  </div>

  <!-- Create User Modal -->
    <modal title="Create Account" visible="login.showCreateForm" id="createModal">
      <form role="form" name="userForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" ng-model="login.new_user" user-unique="" ng-model-options="{ updateOn: 'blur' }"
                 class="form-control" id="username" name="username" placeholder="Enter username" required  />
          <div class="hide-while-in-focus"
               ng-show="userForm.username.$error.unique"
               style="color: #ff0000; font-weight: bold">Username Taken</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ng-model="login.new_pass" class="form-control" id="password" placeholder="Password" required />
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" ng-model="login.name" class="form-control" id="name" placeholder="Enter name" required />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" ng-model="login.city" class="form-control" id="city" placeholder="Enter city" required />
        </div>
        <button ng-disabled="userForm.$invalid" id="register" type="submit" ng-click="login.addUser()" class="btn btn-default" data-dismiss="modal">Submit</button>
      </form>
    </modal>

    <!--<div class=col-sm-8>-->
        <!--<p> We're creating new tools to help communities make better decisions.<br>-->
            <!--You can learn more about us at <a href="http://democracylab.org/">democracylab.org </a> </p>-->
        <!--<p> To participate, we'll ask you to share the values, objectives,<br>-->
            <!--and policies that most closely reflect your thinking on the current issue. </p>-->
        <!--<p> But first you need to login to DemocracyLab.</p>-->
    <!--</div>-->
</div>
