<div ng-controller="main-controller as login">

  <img ng-src="{{login.image}}">
  <p></p>

  <div class="row">
    <div class=col-sm-12>
      <h2>{{ login.title }}</h2>
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class=col-sm-4>
      <div ng-show="login.reject">
        <p style="color: #ff0000">{{login.unsuccessful}}</p>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" ng-model="login.username" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="login.password" class="form-control">
      </div>
      <div class="btn-group">
        <button type="button" ng-click="login.getAccess()" class="btn btn-primary">
          Login
        </button>
      </div>
      <div class="btn-group">
        <button type="button" ng-click="login.createAccount()" class="btn btn-primary">
          Create Account
        </button>
      </div>
      <p></p>
    </div>
    <div class=col-sm-8>
        <p> We're creating new tools to help communities make better decisions.<br>
            You can learn more about us at <a href="http://democracylab.org/">democracylab.org </a> </p>
        <p> To participate, we'll ask you to share the values, objectives,<br>
            and policies that most closely reflect your thinking on the current issue. </p>
        <p> But first you need to login to DemocracyLab.</p>
    </div>
  </div>
</div>