<div class="row">  
  <div class=col-sm-12>
    <p>
        Welcome to Democracy Lab!
   </p>

  </div>
</div>

<div ng-controller = "test-controller as test">
    <div ui-sortable="test.sortableOptions" ng-repeat="list in test.srcData" ng-model="list" class="sort">
            <div id="item-list" ng-repeat="item in list">{{item}}</div>
    </div>
    <div ui-sortable="test.sortableOptions" ng-repeat="list in test.tgtData" ng-model="list" class="sort">
            <div id="item-list" ng-repeat="item in list">{{item}}</div>
    </div>
</div>
